<div class="post card">
    <div class="card-header"> 
        <h2>Edit Post</h2>
    </div>
    <form class="card-body" id="edit-post-form">
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <label class="form-label" for="post-title">Title</label>
        <input class="form-input" type="text" name="post-title" value="{{post.title}}" />

        <label class="form-label" for="post-body">Content</label>
        <textarea class="form-input" name="post-body">{{post.body}}</textarea>

        <button class="btn" type="submit">Update</button>
        <button class="btn" type="button" id="delete-btn">Delete</button>
    </form>
</div>
<script src="/js/editPost.js"></script>