<div class="card">
    <div class="card-header">
        <h2>Sign up</h2>
    </div>
    <div id="signup" role="tabpanel">
        <form class="card-body" id="signup-form">
            <div>
                <label class="form-label" for="userName-input-signup">UserName</label>
                <input id="userName-input-signup" type="text" />
            </div>
            <div>
                <label class="form-label" for="password-input-signup">Password</label>
                <input id="password-input-signup" type="password" />
        </div>
        <button id="signup-btn" class="btn" type="submit">Signup</button>
        <a type="button" href="/login">Login!</a>        
        </form>
    </div>
</div>
<script src="/js/signup.js"></script>